.new{
	margin: 10px auto;
}

.new .title{
	background: #090;
	border-radius: 5px 5px 0 0;
}

.new .content{
	background: #555;
	padding: 5px;
	border-radius: 0 0 5px 5px;
	clear: both;
}

.new .content > .thumb{
	float: left;
	margin: 5px;
	margin-left: 0;
}


.new .content > .text:after{
	content: '';
	display: table;
	clear: both;
}

.new .title > a{
	text-decoration: none;
	display: block;
	font-weight: bold;
	padding: 5px;
}

.new .list-item{
	margin: 10px 0;
}

.filters{
	margin: 10px 0;
	width: 300px;
	max-width: 100%;
}

.filters .title{
	background: #090;
	border-radius: 5px 5px 0 0;
	padding: 5px;
	text-align: center;
}

.filters .content{
	background: #555;
	padding: 5px;
	border-radius: 0 0 5px 5px;
	clear: both;
}