.slider1{
	position: relative;
	margin: 20px auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.slider1 > .imgs{
	~width: 9999px;
	overflow: hidden;
}

.slider1 > .imgs > .item{
	width: 100%;
	position: relative;
	display: none;
	transition: 2s;
}

.slider1 > .imgs img{
	width: 100%;
}

.slider1 > .imgs > .next.left{
	left: 100%;
}

.slider1 > .imgs > .next.right{
	right: 100%;
}

.slider1 > .imgs > .active{
	display: block;
	left: 0;
}
