table.admin{
	min-width: 80%;
	border-collapse: collapse;
	margin: 0 auto;
}

table.admin td{
	padding: 5px;
}



#file-response{
	
}

#file-response #loading{
	margin-bottom: 10px;
	width: 100px; 
	position:relative; 
	border: 1px silver solid; 
	height: 12px;
	display: none;
}

#file-response #loading img{
	height:10px; 
	position: absolute; 
	top:0px;
}

#file-response #loading-proress{
	margin: 10px 0;
}

#file-response > input{
	margin: 5px 0;
	display: none;
}

.catList{
	width:180px;
}

.catList option{
	padding: 3px;
	cursor: pointer;
}

/*events*/
.events{
	margin: 10px 0;
	padding: 10px;
}

.events.err{
	background: indianred;
}

.events.success{
	background: lightgreen;
}





/*add-item*/

#add-item{
	height: 100%; 
	text-align: center;
	display: block;
	border: 2px lightgreen solid;
	box-shadow: 3px 3px 10px rgba(144, 238, 144, 1);
}

#add-item img{
	width: 100px; 
	position: relative; 
	top: 50%; 
	margin-top: -70px;
}



.imgIndex .del{
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	opacity: .7;
}

.pimgs{
	padding: 20px; 
	max-width: 300px;
}

#morephotosContainer img{
	max-width: 200px;
	padding: 10px;
}

.imgIndex{
	position: relative;
	float: left;
	width: 33.333%;
	text-align: center;
	height: 350px;
	overflow: hidden;
}


.imgIndex:hover .del{
	opacity: 1;
}



/*****/

#add-item1{
	width: 200px;
	height: 500px;
}


#center{
	width: 70%;
	float: left;
}

#sidebar-right{
	width: 28%;
	position: absolute;
	right: 0%;
}

.post-from-admin{
	width: 100%;
	position: relative;
}

.post-from-admin input.w100{
	width: 100%;
}


.post-from-admin input[type="text"]{
	padding: 8px;
}

.post-from-admin .block1{
	margin-bottom: 20px;
}

.post-from-admin .block1 > div:first-child{
	font-size: 20px;
	margin: 0;
}




.side-block{
	margin: 20px 0;
	border: 1px lightgreen solid;
}

.side-block > .block-title,
.side-block > .block-content{
	padding: 5px;
}

.side-block > .block-title{
	padding: 10px;
	background: #e9e9e9;
	font-weight: bold;
	border-bottom: 1px lightgreen solid;
}

.side-block > .block-content > div{
	margin: 10px 0;
}

