

/*SHOWER*/
#shower{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	z-index: 99999;
	position: fixed;
	top: 0px;
	left: 0px;
	max-width: 100%;
	display: none;
}

#shower.block{
	display:block;
}

#shower > span{
	width: 100%;
	height:100%; 
	position: absolute; 
	z-index: 1; 
	display: block;
	cursor: pointer;
}

#shower > #img{
	max-width: 500px;
	margin: 0 auto;
	margin-top: -400px;
	~margin-top: 80px;
	background: rgba(0, 0, 0, .5);
	padding-bottom: 20px;
	border-radius: 5px 5px 0 0;
	position: relative;
	z-index: 2;
}

img.shower{
	cursor: pointer;
}
#shower > #img{
	margin-top: 0px;
	background: #fff;
	padding: 20px;
	padding-bottom: 40px;
	border-radius: 0;
	text-align: center;
	display: inline-block;
	visibility: hidden;
	min-width: 300px;
	max-width: 90%;
	left: 50%;
	transition: 0.3s;
	transition-property: all;
}

#shower > #img > img{
	min-width: 100%;
	transition: 0.3s;
	transition-property: all;
}

#shower #showerTools div{
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin: 10px;
	background-image: url(../img/common/arrows.png);
}

#showerTools div:last-child{
	background-position: 40px 0; 
}

#counter{
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #4a4a4a;
	font-size: 13px;
	z-index: 3;
}


#shower #close{
	position: absolute;
	top: -13px;
	right: -13px;
	width: 25px;
	height: 25px;
	padding: 0px 4px;
	border-radius: 50%;
	~background: rgba(0, 0, 0, 1);
	background: rgba(0, 0, 0, 1);
	color: white;
	font-weight: bold;
	border: 2px white outset;
	text-align: center;
	cursor: pointer;
}
/*SHOWER-*/



table.admin{
	min-width: 80%;
	border-collapse: collapse;
	margin: 0 auto;
}

table.admin td{
	padding: 5px;
}



#file-response{
	max-height: 400px;
	overflow-x: hidden;
	text-align: center;
}
@media (max-width: 960px){
	#file-response > img{
		width: 100%;
	}
}


#file-response #loading{
	margin-bottom: 10px;
	width: 100px; 
	position:relative; 
	border: 1px silver solid; 
	height: 12px;
	display: none;
}

#file-response #loading img{
	height:10px; 
	position: absolute; 
	top:0px;
}

#file-response #loading-proress{
	margin: 10px 0;
}

#file-response > input{
	margin: 5px 0;
	display: none;
}

.catList{
	width:180px;
}

.catList option{
	padding: 3px;
	cursor: pointer;
}

/*events*/
.events{
	margin: 10px 0;
	padding: 10px;
}

.events.err{
	background: indianred;
}

.events.success{
	background: lightgreen;
}





/*add-item*/

#add-item{
	height: 100%; 
	text-align: center;
	display: block;
	border: 2px lightgreen solid;
	box-shadow: 3px 3px 10px rgba(144, 238, 144, 1);
}

#add-item img{
	width: 100px; 
	position: relative; 
	top: 50%; 
	margin-top: -70px;
}



.imgIndex .del{
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	opacity: .7;
}

.pimgs{
	padding: 20px; 
	max-width: 300px;
}

#morephotosContainer img{
	max-width: 200px;
	padding: 10px;
}

.imgIndex{
	position: relative;
	float: left;
	width: 33.333%;
	text-align: center;
	height: 350px;
	overflow: hidden;
}


.imgIndex:hover .del{
	opacity: 1;
}



/*****/

#add-item1{
	width: 200px;
	height: 500px;
}


/* #center{ */
	/* width: 70%; */
	/* float: left; */
/* } */

/* #sidebar-right{ */
	/* width: 28%; */
	/* position: absolute; */
	/* right: 0%; */
/* } */

.post-from-admin{
	width: 100%;
	position: relative;
}

.post-from-admin input.w100{
	width: 100%;
}


.post-from-admin input[type="text"]{
	padding: 8px;
}

.post-from-admin .block1{
	margin-bottom: 20px;
}

.post-from-admin .block1 > div:first-child{
	font-size: 20px;
	margin: 0;
}




.side-block{
	margin: 20px 0;
	border: 1px lightgreen solid;
}

.side-block > .block-title,
.side-block > .block-content{
	padding: 5px;
}

.side-block > .block-title{
	padding: 10px;
	background: #e9e9e9;
	font-weight: bold;
	border-bottom: 1px lightgreen solid;
}

.side-block > .block-content > div{
	margin: 10px 0;
}

.choose-editor span{
	font-weight: bold;
}

.choose-editor span:hover,
.choose-editor span.active{
	text-decoration: underline;
}



.admin-page-list{
	position: relative;
}

.admin-page-list:hover > div,
.admin-page-list:active > div{
	display: block;
}

.admin-page-list > div{
	position: absolute;
	left: 5px;
	bottom: 1px;
	font-size: 13px;
	display: none;
}

.admin-page-list > div > a{
	color: #7700d7;
}

.extra-fields{
	border: 1px gray solid;
	border-radius: 5px;
}


.extra-fields > div{
	padding: 5px;
	margin: 3px;
}

.extra-fields > .title{
	border-bottom: 1px gray solid;
	font-weight: bold;
}


/*MEDIA*/

.media-thumb{
	float: left;
	cursor: pointer;
}

.media-thumb.chosen{
	background: lightblue;
}

#media-original-show,
.media-thumb{
	padding: 10px;
}

#media-original-show > img{
	width: 100%;
}

#media-original-show > span{
	margin: 10px;
	display: inline-block;
}



#media-modal{
	width: 90%;
	height: 90%;
	position: relative;
	top: 5%;
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
	overflow-y: auto;
	background: #f2f2f2;
	border: 3px lightgreen solid;
	border-radius: 20px;
	cursor: default;
}

#alpha-back{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	min-width: 280px;
	min-height: 420px;
	position: fixed;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	cursor: pointer;
}

/*post capture options*/
#post-options-box > label{
	display: inline-block; 
	margin-right: 10px;
}


/*COMMENT LIST*/

#post-comments table{
	display: block;
	margin-bottom: 10px;
}

#post-comments table td{
	padding: 5px;
}

#post-comments table tr:nth-child(2){
	font-size: 12px;
}

#post-comments table tr:nth-child(2) td:nth-child(1){
	font-weight: bold;
	font-size: 15px;
	text-decoration: underline;
	
}

#post-comments table tr:nth-child(2) td:nth-child(2){
	text-align: right;
}

#post-comments .block-content{
	
	width: 100%;
}

#post-comments .sub-comments table,
#post-comments .sub-comments > div{
	margin-left: 30px;
	margin-right: -30px;
}

#post-comments .sub-comments table{
	border: none;
}

#post-comments .sub-comments table:last-child{
	border: none;
}

#post-comments .sub-comments > div{
	margin-bottom: 10px;
	font-weight: bold;
	background: lightgreen;
	padding: 2px 5px;
	border-radius: 20px;
}

.avatar{
	width: 50px;
	height: 50px;
	background-image:url(../img/avatar.jpg);
	background-size:50px 50px;
}

.reply{
	text-transform: uppercase;
	margin: 5px 0;
}

.reply:hover{
	color: lightblue;
}
/*COMMENT LIST-*/


.fl-left{
	float: left;
}

.comment-list .avatar{
	float: left;
	margin: 0 5px 0 0;
}

.comment-content-cell{
	position: relative;
	vertical-align: top;
}

.comment-content-cell .content{
	padding-bottom: 15px;
}

.comment-content-cell .options{
	display: none;
	position: absolute;
	bottom: 5px;
	font-size: 12px;
}

.comment-cell:hover .options{
	display: block;
}

.pointer{
	cursor: pointer;
}
